<div id="page-wrapper">
  <h1><% t "catagory" %></h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [:admin, @catagory] do |f| %>
      <%= render "shared/error_messages", object: @catagory %>
        <%= f.label :catagory %>
        <%= f.text_field :name %>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>



