
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><%= t "user" %></h4>
      <div class="add">
        <%= link_to new_admin_catagory_path, class: "btn btn-info" do %>
          <span class="material-icons button edit" aria-hidden="true">
            <i class="material-icons"><%= t "add" %></i>
          </span>
        <% end %>
      </div>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><%= t "id" %></th>
            <th><%= t "name" %></th>
            <th><%= t "edit" %></th>
            <th><%= t "delete" %></th>

          </thead>
          <tbody>
          <% @catagories.each do |category| %>
            <tr>
              <td><%= category.id %></td>
              <td><%= category.name %></td>
              <% if current_user.role? %>
              <td>
              <%= link_to edit_admin_catagory_path(category.id), class: "btn btn-info" do %>
                  <span class="material-icons button edit" aria-hidden="true">
                    <i class="material-icons">mode_edit</i>
                  </span>
                <% end %>
              </td>
              <td>
                <%= link_to [:admin, category], method: :delete,
                  data: {confirm: "Are you sure?"}, class: "btn btn-danger" do %>
                 <span> <i class="material-icons button delete">delete</i></span>
                <% end %>
              </td>
              <% else %>
              <td>
                no
              </td>
              <td>
                no
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
      <%= will_paginate @catagories %>
      </div>
    </div>
  </div>
</div>
