<div class="container">


  <div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <%= image_tag @book.picture.url if @book.picture? %>
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
      <div class="single-para ">
        <h4><%= @book.title %></h4>
        <div class="star-on">
          <ul class="star-footer">
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
          </ul>
          <div class="review">
            <a href="#"> <%= t "review" %> </a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <p>
        <%= @book.preview %>
        </p>
        <div class="available">

        </div>

        <a href="#" class="add-cart item_add"><%= t "read" %></a>
      </div>
    </div>
    <div class="clearfix"> </div>
    <!---->
    <!--<div class="cd-tabs">
      <nav>
        <ul class="cd-tabs-navigation">
          <li><a data-content="fashion"  href="#0">Description </a></li>
          <li><a data-content="cinema" href="#0" >Comment</a></li>
          <li><a data-content="television" href="#0" class="selected ">Reviews (1)</a></li>
        </ul>
      </nav>
      <ul class="cd-tabs-content">
        <li data-content="fashion" >
          <div class="facts">
           <!--<p > There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined </p>
            <ul>
              <li>Research</li>
              <li>Design and Development</li>
              <li>Porting and Optimization</li>
              <li>System integration</li>
              <li>Verification, Validation and Testing</li>
              <li>Maintenance and Support</li>
            </ul>
          </div>
        </li>
        <li data-content="cinema" >
          <div class="comments-top-top">
            <div class="top-comment-left">
               img
            </div>
            <div class="top-comment-right">
              <h6><a href="#">Hendri</a> - September 3, 2014</h6>
              <ul class="star-footer">
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
              </ul>
              <p>Wow nice!</p>
            </div>
            <div class="clearfix"> </div>
            <a class="add-re" href="#">ADD REVIEW</a>
    <div class=" contact-top">
    <h3>Want to work with me?</h3>
    <div>
    <span>Your Message</span>
    <textarea> </textarea>
    </div>
      <input type="submit" value="SEND" >
    </div>
          </div>
        </li>
        <li data-content="television" class="selected">
          <div class="comments-top-top">
            <div class="top-comment-left">
              img
            </div>
            <div class="top-comment-right">
              <h6><a href="#">Hendri</a> - September 3, 2014</h6>
              <ul class="star-footer">
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
              </ul>
              <p>Wow nice!</p>
            </div>
            <div class="clearfix"> </div>
            <a class="add-re" href="#">ADD REVIEW</a>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>
    </div>-->
    <!---->
  </div>
  <div class="clearfix"> </div>
</div>
