<div class="container">
<div class="col-md-3 product-price">

</div>
  <div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <%= image_tag @book.picture.url if @book.picture? %>
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
      <div class="single-para ">
        <h4><%= @book.title %></h4>
        <div class="star-on">
          <ul class="star-footer">
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
            <li><a href="#"><i> </i></a></li>
          </ul>
          <div class="review">
            <a href="#"> <%= t "review" %> </a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <p>
        <%= @book.preview %>
        </p>
        <div class="available">

        </div>

        <a href="#" class="add-cart item_add"><%= t "read" %></a>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="clearfix"> </div>
    <!---->
    <div class= "cd-tabs">
        <% @book.reviews.each do |review| %>
          <div class="photo">
            <%= render "shared/info_user"%>
          </div>
          <div class="comment-block">
            <h6><%= review.user.fullname %></h6>

            <div class="div-create">
              <%= review.detail %>
            </div>
            <div class="bottom-comment">
              <div class="comment-date"> Posted <%= time_ago_in_words(review.created_at) %> ago.</div>
            </div>
            <div>
               <%= link_to "edit", edit_review_path(review.id)  %>
               <br />
                <%= link_to "delete", review, method: :delete,
                data: { confirm: "You sure?" } %>
            </div>
          </div>
          </br>
        <% end %>
      </div>
    </div>

    <div>
      <%= form_for @review do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.label :Review %>
        <%= f.text_area :detail, placeholder: "Nhập Nội Dung.", class: "form-control" %>
        <% if current_user %>
         <%= f.hidden_field :user_id, value: current_user.id %>
        <% end %>
        <%= f.hidden_field :book_id, value: @book.id %>
        <%= f.submit  "send", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
  <div class="clearfix"> </div>



</div>
